{{#let (selectable-key-values
    (array "Name:asc" "A to Z")
    (array "Name:desc" "Z to A")
    (array "Status:asc" "Unhealthy to Healthy")
    (array "Status:desc" "Healthy to Unhealthy")
      selected=sortBy
  )
  as |sort|
}}
<div id="services" class="tab-section">
  <div role="tabpanel">
  {{#if (gt items.length 0) }}
    <SearchBar
      @value={{search}}
      @onsearch={{action (mut search) value="target.value"}}
      @secondary="sort"
      @selected={{sort.selected}}
      @options={{sort.items}}
      @onchange={{action (mut sortBy) value='target.selected.key'}}
    />
  {{/if}}
  {{#let items as |sorted|}}
    <ChangeableSet @dispatcher={{searchable 'nodeservice' sorted}} @terms={{search}}>
      <BlockSlot @name="set" as |filtered|>
        <ConsulServiceInstanceList @routeName="dc.services.show" @items={{filtered}} @checks={{checks}}/>
      </BlockSlot>
      <BlockSlot @name="empty">
        <p>
          There are no services.
        </p>
      </BlockSlot>
    </ChangeableSet>
  {{/let}}
  </div>
</div>
{{/let}}